@using System.Security.Claims
@model List<data_access.Models.Book>;

@{
    ViewData["Title"] = "Browse Books";
}

@* Search for books by ISBN, Title or author name *@
<div class="container">
    <div class="row col-md-12 my-4 d-flex justify-content-center align-middle">
        <form asp-controller="Library" asp-action="AllBooks" method="get">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <input type="search" name="searchTerm" class="form-control" placeholder="Search a Book"
                        value="@Context.Request.Query["searchTerm"]" />
                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input type="checkbox" name="availableOnly" id="availableOnly" class="form-check-input"
                            value="true" @(Context.Request.Query["availableOnly"] == "true" ? "checked" : "") />
                        <label class="form-check-label" for="availableOnly">Available Only</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>

    @* if there are any books then show them *@
    @if (Model.Any())
    {
        <form asp-controller="Library" asp-action="AllBooks" method="get">
            <div class="row col-md-12 col-md-offset-2 custyle" style="margin-top:10px">
                <table class="table table-striped custab">
                    <thead>
                        <tr class="bg-secondary text-white">
                            <th class="text-center">ISBN</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Author</th>
                            <th class="text-center">Is Available</th>
                            <th class="text-center">Borrow</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model)
                        {
                            <tr style="vertical-align:middle">
                                @if (@User.FindFirst(ClaimTypes.Name)!.Value.Equals("Admin", StringComparison.OrdinalIgnoreCase))
                                {
                                    <td class="text-center">
                                        @Html.ActionLink(book.ISBN, "UpdateBook", "Library", new { ISBN = book.ISBN })
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">@book.ISBN</td>
                                }
                                <td class="text-center">@book.Title</td>
                                <td class="text-center">@book.Author</td>
                                <td class="text-center">
                                    <span class="@(book.IsAvailable ? "text-success" : "text-danger")">
                                        @(book.IsAvailable ? "Available" : "Not Available")
                                    </span>
                                </td>
                                <td class="text-center">
                                    @if (book.IsAvailable)
                                    {
                                        <input type="checkbox" class="borrow-checkbox" name="ISBNs" value="@book.ISBN" />
                                    }
                                    else
                                    {
                                        <span class="text-muted">N/A</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button id="borrow-button" type="submit" class="btn btn-success" style="display: none;">Borrow Selected
                    Books</button>
            </div>
        </form>
    }
    else
    {
        <div class="text-center">
            <h4>No users were found!</h4>
        </div>
    }
</div>

@section Scripts
{
    <!--Client Side Validation Script-->
    <partial name="_ValidationScriptsPartial" />

@* To hide the search button if no book was selected *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxes = document.querySelectorAll('.borrow-checkbox');
            const borrowButton = document.getElementById('borrow-button');

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const isAnyChecked = Array.from(checkboxes).some(cb => cb.checked);
                    borrowButton.style.display = isAnyChecked ? 'block' : 'none';
                });
            });
        });
    </script>
}